---

---

<a href="/AddPost"
  class=" flex justify-center items-center size-12 fixed bottom-9 right-7 outline-offset-1 rounded-full shadow-2xl bg-[#7942e8] hover:scale-105 hover:bg-[#b453e7]/80 transition-all duration-200 backdrop-filter backdrop-blur-lg bg-opacity-90">
    <img class="size-8"  src="/plus-circle.svg"/>
  </a>