---
import DropdownNavBar from "./DropdownNavBar";

const { id } = Astro.props;

---

<nav class=' fixed z-50 top-0 h-20 w-full flex justify-between items-center pl-10 pr-8 bg-[#2d2e34] shadow-lg backdrop-filter backdrop-blur-lg bg-opacity-70
            md:pl-20 md:pr-16
            lg:pl-24'>
                <div class="flex justify-center items-center gap-4">
                    <a href="/Home"
                    class="flex justify-center items-center gap-4 cursor-pointer">
                        <img class="size-10" src='/logo.svg'></img>
                        <h1
                            class="text-2xl font-semibold bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-transparent " >AstroPics</h1>
                    </a>

                    <div class="hidden
                    md:ml-20 md:flex md:gap-10 md:visible">
                        {/* <a href="#" >Docs</a>
                        <a href="#" >Services</a>
                        <a href="#" >About us</a> */}
                    </div>
                </div>

                <div class={`${Astro.cookies.get('token') ? 'block' : 'hidden'} fixed top-[27px] right-9`} >
                    <DropdownNavBar client:load />
                </div>

                <!-- <a class={`${Astro.cookies.get('token') ? 'block' : 'hidden'}`}
                href="/MyProfile">
                    <img class=" inline size-7" src={ '/profile-circle.svg'}/>
                </a>

                <a class={`${Astro.cookies.get('token') ? 'block' : 'hidden'}`}
                href="/">
                    <img class=" inline ml-2 size-7" src={ '/log-out.svg'}/>
                </a> -->
            </nav>