---
import General from "../layouts/General.astro";
---

<General>
  <form class="flex flex-col w-10/12 mx-auto">
    <div class="h-72 bg-gray-400 mb-12 rounded-lg">
      <!-- taking the photo -->
    </div>
    <label for="hastagss">Comment</label>
    <textarea class="h-20 mb-10 px-3 py-1 bg-[#383a41] focus:outline-none rounded-lg"
    name="hashtags" id="hashtags"></textarea>
    <!-- redirect to a confirm page with same input values -->
    <a class="self-end px-3 py-1 border-2 border-[#448769] text-[#448769] rounded-lg " href="">Continue</a>
  </form>
</General>
