---
import General from "../layouts/General.astro";

// constants
const URL = "http://localhost:3000/api";

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const name = data.get("name");
  const password = data.get("password");

  // fetch to login credenials
  const response = await fetch(`${URL}/login`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    credentials: "include",
    body: JSON.stringify({ name, password }),
  })
    .then((res) => res.json())
    .then((res) => console.log(res))
    .catch((err) => console.error(err));
}
---

<General>
  <div class="w-4/5 mx-auto my-28 px-7 py-4 bg-[#3c3e46] rounded-lg shadow-xl">
    <h2 class="mb-7 text-2xl font-semibold">Log in</h2>
    <form method="POST" class="flex flex-col">
      <label class="mb-3" for="name">Name</label>
      <input class="bg-[#343434] mb-8 rounded-lg" name="name" type="text" />
      <label class="mb-3" for="password">Password</label>
      <input
        class="bg-[#343434] mb-3 rounded-lg"
        name="password"
        type="password"
      />
      <a class="text-sm mb-2" href="/Register">Create account</a>

      <button class="bg-[#30429d] mt-3 mb-4 py-1 rounded-lg">Submit</button>
    </form>
  </div>
</General>
