---
import General from "../layouts/General.astro";

---

<General>
    <form>
        <label for="name">Name</label>
        <input name="name" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <label for="confirm_password">Confirm password</label>
        <input name="confirm_password" type="password" />
      </form>
</General>