---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astropics</title>
	</head>
	<body style="background-color: #222328; color: #fafafa;">
        <p>el navbar</p>
		<slot/>
	</body>
</html>
